### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import pandas as pd
import numpy as np 
import csv 
import statistics
# File to Load (Remember to Change These)
csvpath = os.path.join("..","Resources","purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csvpath)
purchase_data
#lists for Data 
Purchase_ID = []
SN = []
Age = []
Gender = []
ItemID = []
ItemName = []
Price = []

## Player Count

* Display the total number of players

In [2]:
with open(csvpath, newline="") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    next(csvreader)
    for row in csvreader:
        Purchase_ID.append(row[0])
        SN.append(row[1])
        Age.append(row[2])
        Gender.append(row[3])
        ItemID.append(row[4])
        ItemName.append(row[5])
        Price.append(float(row[6]))
        
totalp = len(pd.unique(SN)) # total players 
uniqueitem = len(pd.unique(ItemName)) # total unique items 
averageprice = round(sum(Price)/len(Price),2) # average price of items 
numpurchases = len(Price) #Number of purchases
revenue = round(sum(Price),2) # total revenue 
summary_df = pd.DataFrame([[uniqueitem,averageprice,numpurchases,revenue]]) # create summary table 
summary1 = summary_df.rename(columns={0:"Number of Unique Items",1:"Average Price",2:"Number of Purchases",3:"Total revenue"})
summary1

   Number of Unique Items  Average Price  Number of Purchases  Total revenue
0                     179           3.05                  780        2379.77

In [3]:
totalcount = purchase_data.drop_duplicates(["SN"]).copy() # drop duplicates 
df = pd.DataFrame(totalcount) # turn into a dataframe
Group = df.groupby(['Gender']).Gender.count() # group data by gender 
df = pd.DataFrame(list(Group.items()),columns = ['Gender','Count']) # creating columns for dataframe
gendertotal = (len(totalcount))
# find gender count and format into percentage 
othercount = '{0:.2f}%'.format((df.iloc[2,1]/gendertotal)*100) 
malecount = '{0:.2f}%'.format((df.iloc[1,1]/gendertotal)*100)
femalecount = '{0:.2f}%'.format((df.iloc[0,1]/gendertotal)*100)
genderpercent = pd.DataFrame(list([femalecount,malecount,othercount]))
merged = pd.merge(df,genderpercent,left_index=True,right_index=True)
merged = merged.rename(columns={0:"Percent"})
merged

                  Gender  Count Percent
0                 Female     81  14.06%
1                   Male    484  84.03%
2  Other / Non-Disclosed     11   1.91%

## Purchasing Analysis (Total)

# * Run basic calculations to obtain number of unique items, average price, etc.

* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
purchasegender = purchase_data.iloc[:,3:7]
# ttal number of purchases by gender
df2 = purchasegender.groupby('Gender').Gender.count() 
# average purchase price by gender 
df3 = (purchasegender.groupby('Gender').Price.sum())/(df2) 
# total purchased amount by gender
df4 = (purchasegender.groupby('Gender').Price.sum()) 
# average total purchase per person 
df5 = purchase_data.groupby('SN').Price.sum()# total dropped price individuals 
df6 = pd.DataFrame(purchase_data.groupby('SN').Price.sum()) # added up total per names 
df9 = pd.DataFrame(purchase_data.groupby('SN').Gender)# separate by gender
df7 = purchase_data.groupby('SN').Price.count() # len of names 
df8 = (df6)/(df7) # average of names 

df11 = purchase_data.groupby(['Gender','SN']).Price.sum()
# grab average for each individual by gender 
fempurch = '${0:.2f}'.format(sum((df11['Female']))/(len(df11['Female'])))
menpurch = '${0:.2f}'.format(sum((df11['Male']))/(len(df11['Male'])))
nonpurch = '${0:.2f}'.format(sum((df11['Other / Non-Disclosed']))/(len(df11['Other / Non-Disclosed'])))
averagesbyind = pd.DataFrame(list([fempurch,menpurch,nonpurch]))
averagesbyind = averagesbyind.rename(index={0:"Female",1:"Male",2:"Other / Non-Disclosed"}) 
series = averagesbyind.squeeze()

data = {"Total Purchases":df2,"Average Purchase Price":df3,"Total Purchase Value":df4,"Average by Individual":series}
df21=pd.concat(data,axis = 1)


# df.loc['Total Sales Rate'] = ((df.loc['Total Sales']/df.loc['Total Listings'])
                              # .apply('{:.0%}'.format))
# df21.loc['Average Purchase Price'] = ((df21.loc[''])).
pd.options.display.float_format = '${0:.2f}'.format
df21

,Total Purchases,Average Purchase Price,Total Purchase Value,Average by Individual
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [5]:
bins = [0,9,14,19,24,29,34,39,50]
groups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
hotdog = totalcount["Age Range"] = pd.cut(totalcount["Age"],bins,labels = groups)
newnew = hotdog.value_counts()
cheese = (newnew/sum(newnew))*100
cheese = pd.DataFrame(cheese[['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']])
pd.options.display.float_format = '{0:.2f}%'.format
newnew= pd.DataFrame(newnew)
merge2 = pd.merge(cheese,newnew,left_index=True,right_index=True)
merge2.rename(columns={"Age_x": "Percentage of Players","Age_y":"Total Count"})

       Percentage of Players  Total Count
<10                    2.95%           17
10-14                  3.82%           22
15-19                 18.58%          107
20-24                 44.79%          258
25-29                 13.37%           77
30-34                  9.03%           52
35-39                  5.38%           31
40+                    2.08%           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# purchase count by age 
dfa = purchase_data["Age Range"] = pd.cut(purchase_data["Age"],bins,labels = groups)
dfb = dfa.value_counts()
dfb = dfb[['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']]
# total purchase value by age 
pd.options.display.float_format = '${0:.2f}'.format
tp = purchase_data[["Price","Age Range"]]
tp2 = tp.groupby(['Age Range']).Price.sum() # group data by gender 
tp3 = (tp2/dfb) # average purchase price 
# average total purchase per person 
dfc = (purchase_data.groupby(["Age Range"]).Price.sum())/(totalcount.groupby(["Age Range"]).Price.count())

# data2 = {"Purchase Count":dfb,"Average Purchase Price":tp3, "Average Total Purchase per Person":dfc}
# df244=pd.concat(data2,axis = 1)
# fef = pd.DataFrame(df244)
a = pd.DataFrame(dfb)
b = pd.DataFrame(tp3)
c = pd.DataFrame(dfc)
d = pd.DataFrame(tp2)

cc = pd.merge(b,c,left_index=True,right_index=True)
a = pd.merge(cc,a,left_index=True,right_index=True)
a = pd.merge(a,d,left_index=True,right_index=True )
a.rename(columns={0:"Average Purchase Price","Price_x":"Average Total Purchase per Person","Age":"Purchase Count","Price_y":"Total Purchase Value"})

,Average Purchase Price,Average Total Purchase per Person,Purchase Count,Total Purchase Value
Age Range,,,,
<10,$3.35,$4.54,23,$77.13
10-14,$2.96,$3.76,28,$82.78
15-19,$3.04,$3.86,136,$412.89
20-24,$3.05,$4.32,365,$1114.06
25-29,$2.90,$3.81,101,$293.00
30-34,$2.93,$4.12,73,$214.00
35-39,$3.60,$4.76,41,$147.67
40+,$2.94,$3.19,13,$38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
# finding total purchase value 
b1 = pd.DataFrame(purchase_data.groupby(["SN"]).Price.sum())
b1 = b1.sort_values(by='Price',ascending=False).head()
# find purchase count 
b2 = pd.DataFrame(purchase_data.groupby(["SN"]).Price.count())
b2.sort_values(by='Price',ascending=False).head()
# find average purchase price 
b3 = purchase_data.groupby(["SN"]).Price.mean()
b3 = pd.DataFrame(b3[["Lisosia93","Idastidru52","Chamjask73","Iral74","Iskadarya95"]])
merge3 = pd.merge(b1,b2,left_index=True,right_index=True)
merge3 = pd.merge(merge3,b3,left_index=True,right_index=True)
merge3.rename(columns={"Price_x":"Total Purchase Value","Price_y":"Total Purchases","Price":"Average Purchase Price"})

             Total Purchase Value  Total Purchases  Average Purchase Price
SN
Lisosia93                  $18.96                5                   $3.79
Idastidru52                $15.45                4                   $3.86
Chamjask73                 $13.83                3                   $4.61
Iral74                     $13.62                4                   $3.40
Iskadarya95                $13.10                3                   $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [91]:
d1 = pd.DataFrame(purchase_data.groupby("Item Name")["Price"].agg(['sum','count','mean']))
d1 = d1.sort_values(by='count',ascending=False).head(10)
d1.rename(columns={"sum":"Total Purchase Value","count":"Purchase Count","mean":"Average Cost"})

,Total Purchase Value,Purchase Count,Average Cost
Item Name,,,
Final Critic,$59.99,13,$4.61
"Oathbreaker, Last Hope of the Breaking Storm",$50.76,12,$4.23
Persuasion,$28.99,9,$3.22
Nirvana,$44.10,9,$4.90
"Extraction, Quickblade Of Trembling Hands",$31.77,9,$3.53
Fiery Glass Crusader,$41.22,9,$4.58
"Pursuit, Cudgel of Necromancy",$8.16,8,$1.02
Brutality Ivory Warmace,$19.36,8,$2.42
Singed Scalpel,$34.80,8,$4.35
"Shadow Strike, Glory of Ending Hope",$25.28,8,$3.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [92]:
d2 = pd.DataFrame(purchase_data.groupby("Item Name")["Price"].agg(['sum','count','mean']))
d2 = d2.sort_values(by='sum',ascending=False).head(10)
d2.rename(columns={"sum":"Total Purchase Value","count":"Purchase Count","mean":"Average Cost"})

,Total Purchase Value,Purchase Count,Average Cost
Item Name,,,
Final Critic,$59.99,13,$4.61
"Oathbreaker, Last Hope of the Breaking Storm",$50.76,12,$4.23
Nirvana,$44.10,9,$4.90
Fiery Glass Crusader,$41.22,9,$4.58
Singed Scalpel,$34.80,8,$4.35
"Lightning, Etcher of the King",$33.84,8,$4.23
"Extraction, Quickblade Of Trembling Hands",$31.77,9,$3.53
"Glimmer, Ender of the Moon",$30.80,7,$4.40
Winter's Bite,$30.16,8,$3.77
Persuasion,$28.99,9,$3.22