### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import pandas as pd
import numpy as np 
import csv 
import statistics
# File to Load (Remember to Change These)
csvpath = os.path.join("..","Resources","purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csvpath)
purchase_data
#lists for Data 
Purchase_ID = []
SN = []
Age = []
Gender = []
ItemID = []
ItemName = []
Price = []

## Player Count

* Display the total number of players

In [2]:
with open(csvpath, newline="") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    next(csvreader)
    for row in csvreader:
        Purchase_ID.append(row[0])
        SN.append(row[1])
        Age.append(row[2])
        Gender.append(row[3])
        ItemID.append(row[4])
        ItemName.append(row[5])
        Price.append(float(row[6]))

    
# find total players 
totalp= purchase_data.drop_duplicates(["SN"]).SN.count()
totalp = pd.DataFrame([[totalp]])
totalp.rename(columns={0: "Total Players"})

   Total Players
0            576

## Purchasing Analysis (Total)

# * Run basic calculations to obtain number of unique items, average price, etc.

* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
uniqueitem = len(pd.unique(ItemName)) # total unique items 
averageprice = round(sum(Price)/len(Price),2) # average price of items 
numpurchases = len(Price) #Number of purchases
revenue = round(sum(Price),2) # total revenue 
summary_df = pd.DataFrame([[uniqueitem,averageprice,numpurchases,revenue]]) # create summary table 
summary1 = summary_df.rename(columns={0:"Number of Unique Items",1:"Average Price",2:"Number of Purchases",3:"Total revenue"})

pd.options.display.float_format = '${0:.2f}'.format

summary1

   Number of Unique Items  Average Price  Number of Purchases  Total revenue
0                     179          $3.05                  780       $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
totalcount = purchase_data.drop_duplicates(["SN"]).copy() # drop duplicates 
df = pd.DataFrame(totalcount) # turn into a dataframe
Group = df.groupby(['Gender']).Gender.count() # group data by gender 
df = pd.DataFrame(list(Group.items()),columns = ['Gender','Count']) # creating columns for dataframe
gendertotal = (len(totalcount))
# find gender count and format into percentage 
othercount = '{0:.2f}%'.format((df.iloc[2,1]/gendertotal)*100) 
malecount = '{0:.2f}%'.format((df.iloc[1,1]/gendertotal)*100)
femalecount = '{0:.2f}%'.format((df.iloc[0,1]/gendertotal)*100)
genderpercent = pd.DataFrame(list([femalecount,malecount,othercount]))
merged = pd.merge(df,genderpercent,left_index=True,right_index=True)
merged = merged.rename(columns={0:"Percent"})
merged = merged.sort_values(by='Percent',ascending=False)
merged

                  Gender  Count Percent
1                   Male    484  84.03%
0                 Female     81  14.06%
2  Other / Non-Disclosed     11   1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Purchase Analysis
# find count, mean, and sum of all data by gender 
pd.options.display.float_format = '${0:.2f}'.format
p_analysis = purchase_data.groupby("Gender")['Price'].agg(['count','mean','sum'])
# find average by individual 
e2 = pd.DataFrame(purchase_data.groupby(["SN",'Gender'])["Price"].agg(['sum']))
e2 = pd.DataFrame(e2.groupby("Gender").mean())
p_analysis2 = pd.merge(p_analysis,e2,left_index = True, right_index = True)
p_analysis = p_analysis2.rename(columns={'mean':'Average by Gender','count':'Purchase Count','sum_x':'Total Purchase value','sum_y':"Average by Individual"})
p_analysis

,Purchase Count,Average by Gender,Total Purchase value,Average by Individual
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# binning 
bins = [0,9,14,19,24,29,34,39,100]
groups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
# create age range in purchase data 
agebin = purchase_data["Age Range"] = pd.cut(totalcount["Age"],bins,labels = groups)
# calculate player count and percent  
agecount = agebin.value_counts()
agep = (agecount/sum(agecount))*100
agep = pd.DataFrame(agep[['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']])
pd.options.display.float_format = '{0:.2f}%'.format
agecount= pd.DataFrame(agecount)
# merge 
merge2 = pd.merge(agep,agecount,left_index=True,right_index=True)
merge2 = merge2.rename(columns={"Age_x": "Percentage of Players","Age_y":"Total Count"})
merge2

       Percentage of Players  Total Count
<10                    2.95%           17
10-14                  3.82%           22
15-19                 18.58%          107
20-24                 44.79%          258
25-29                 13.37%           77
30-34                  9.03%           52
35-39                  5.38%           31
40+                    2.08%           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
pd.options.display.float_format = '${0:.2f}'.format
# find sum, avg, and count of purchases by age 
agebin = purchase_data["Age Range"] = pd.cut(purchase_data["Age"],bins,labels = groups)
purch_anal = purchase_data.groupby("Age Range")['Price'].agg(['count','mean','sum'])
# find avg by individual and age 
avg_perp = purchase_data.groupby(['SN','Age Range'])['Price'].agg(['sum'])
avg_perp = avg_perp.groupby('Age Range').mean()
avg_perp
# merge 
merge3 = pd.merge(purch_anal,avg_perp,left_index=True,right_index=True)
merge3 = merge3.rename(columns={'count':'Purchase Count','mean':'Average Purchase Price','sum_x':'Total Purhcase Value','sum_y':'Average Total Purchase per Person'})
merge3

,Purchase Count,Average Purchase Price,Total Purhcase Value,Average Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
top_spenders = purchase_data.groupby('SN')['Price'].agg(['sum','count','mean'])
top_spenders = top_spenders.sort_values(by='sum',ascending=False).head()
top_spenders = top_spenders.rename(columns={'sum':'Total Purchase Value','mean':'Average Purchase Price','count':'Purchase Count'})
top_spenders = top_spenders[['Purchase Count','Average Purchase Price','Total Purchase Value']]
top_spenders

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
d1 = pd.DataFrame(purchase_data.groupby("Item Name")["Price"].agg(['sum','count','mean']))
d1 = d1.sort_values(by='count',ascending=False).head()
d1 = d1.rename(columns={"sum":"Total Purchase Value","count":"Purchase Count","mean":"Average Cost"})
d1

,Total Purchase Value,Purchase Count,Average Cost
Item Name,,,
Final Critic,$59.99,13,$4.61
"Oathbreaker, Last Hope of the Breaking Storm",$50.76,12,$4.23
Persuasion,$28.99,9,$3.22
Nirvana,$44.10,9,$4.90
"Extraction, Quickblade Of Trembling Hands",$31.77,9,$3.53

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
d2 = pd.DataFrame(purchase_data.groupby("Item Name")["Price"].agg(['sum','count','mean']))
d2 = d2.sort_values(by='sum',ascending=False).head()
s2 = d2.rename(columns={"sum":"Total Purchase Value","count":"Purchase Count","mean":"Average Cost"})
d2

                                                sum  count  mean
Item Name
Final Critic                                 $59.99     13 $4.61
Oathbreaker, Last Hope of the Breaking Storm $50.76     12 $4.23
Nirvana                                      $44.10      9 $4.90
Fiery Glass Crusader                         $41.22      9 $4.58
Singed Scalpel                               $34.80      8 $4.35